body{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main, section, footer{
    background-color: white;
    padding: 15px ;
    margin: auto;
    max-width: 500px;
    border-radius: 15px;
    margin-bottom: 2px;

}
